<!DOCTYPE html>
<html>
    <head>
        <title>Lista de Tareas</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    </head>

    <body class="container">
       <div  class="jumbotron">
        <h1>Lista de Tareas</h1>
        <ul>
            <% tareas.forEach(function(tarea, id){%>
            <li><%= tarea %> <a class="badge" href="/borrar/<%=id%>">X</a></li>
            <% }); %>
            </ul>
            <form action="adicionar" method="post">
                <p>
                    <label for="nuevaTarea">Nueva Tarea: </label>
                    <input type="text" name="nuevaTarea" autofocus id="nuevaTarea"/>
                    <input class="btn btn-lg btn-success" type="submit" />
                </p>
            </form>
        </div>
    </body>
</html>








